<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS Application</title>
</head>
<body>
    <h1>Hello <%= username %></h1>
    <hr>
    <ul>
        <% customer.map((item) => { %>
            <li><%= item %></li>            
        <% }) %>
    </ul>
</body>
</html>